.styparrafos{
    text-align: justify;
    margin: 1% 25%;
}
.styli{
    margin: 0.5% 25%;
}
.stypre{
    font-size: large;
    text-align: center;
}
.styimg{
    margin: 0% 30%;
}
#hrul{
    margin: 100px 60px 15px 60px;
    color: black;
    size: 3;
}