.styparrafos {
  text-align: justify;
  margin: 1% 25%;
}
.styli {
  margin: 0.5% 25%;
}
.styli2 {
  margin: 0% 0% 5%;;
}
.stypre {
  font-size: large;
  text-align: center;
}
.styimg {
  margin: 0% 30%;
}
#hrul {
  margin: 100px 60px 15px 60px;
}
#hrpr {
  margin: 0px 0px 70px 0px;
}
.posicion{
  position: fixed;
}
#divid{
  float: right;
  width: 15%;
  margin: 0% 38% 0% 0%;
}
#diviz{
  float: left;
  width: 10%;
  margin: 0% 0% 0% 27%;
}
.divcodi{
  float: center;
  width: 40%;
  margin: 0% 0% 0% 30%;
}